<!-- Define a function to render the payment -->
<% function renderPayment(payment) { %>
  <div class="item-details">
    <article>
      <h2>Amount: <%= payment.amount %></h2>
      <div><%= payment.method %></div>
      <div><%= payment.status %></div>
      
      
  
      <!-- Update button -->
      <form
        class="action-form"
        method="GET"
        action="/single-payment/update/<%= payment._id %>"
      >
        <button type="submit" class="update">update</button>
      </form>
  
      <!-- Delete button -->
      <form
        class="action-form"
        method="POST"
        action="/single-payment/<%= payment._id %>?_method=DELETE"
      >
        <button type="submit">delete</button>
      </form>
    </article>
  </div>
  <% } %>

    
  
<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: payment.title }) %>
  <body>
    <%- include('partials/navbar.ejs') %>
    

    <div class="content">
      <div class="home">
        <div class="item-list">
          <% if (payment) { %> <%= renderPayment(payment) %> <% } else { %>
          <p>No payment found.</p>
          <% } %>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>